body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul.bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  height: auto;
  background-color: blueviolet;
  position: fixed;
  overflow: auto;
}

ul.bar li a {
  float: right;
  display: block;
  padding: 16px;
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 600px) {
  ul.bar li a {
    background-color: black;
    text-align: center;
    position: relative;
    float: none;
  }
}